* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}

.header--items {
  width: 100%;
  padding: 12px 24px;
  color: #fff;
}
.header--items:hover {
  opacity: 1;
  cursor: pointer;
  background-color: #000;
}
.heading--center {
  display: block;
  text-align: center;
}
.header--content {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.5px;
}
.header--padding {
  margin: 12px 0;
}
.heading__icon {
  font-size: 28px;
}
#header {
  position: fixed;
  width: 120px;
  min-height: 5500px;
  background-color: #222;
}
.header__img {
  margin-bottom: -7px;
}
.header__img img {
  width: 100%;
}
.header__home {
}

.header__about {
  color: #fff;
}
.header__photo {
}
.header__contact {
}

#content {
  background-color: #000;
  margin-left: 120px;
  padding: 12px 24px;
}
.content--margin {
  margin: 0 230px;
  padding: 64px 0;
}
.content__img {
  width: 100%;
  height: auto;
  padding: 32px 16px;
  color: #fff;
  letter-spacing: 2px;
}
.img__name {
  font-size: 64px;
  margin: 10px 0;
}
.about--sub-color {
  filter: contrast(0.2);
}
.content__about {
  color: #fff;
  font-weight: lighter;
}
.about--header {
  font-size: 30px;
  margin: 10px 0;
  letter-spacing: 1px;
  font-weight: 300;
}
.about__header {
}
.about__wall {
  width: 200px;
  border-bottom: 1px solid #fff;
  margin: 20px 0;
}
.about__main {
  font-size: 13px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  font-weight: lighter;
  text-align: justify;
}
.skill--padding {
  padding: 15px 0px;
  letter-spacing: 3px;
}
.skill__boxpercent {
  width: 100%;
  height: 28px;
  background-color: #fff;
}
.skill--percent {
  width: var(--percent);
  height: 28px;
  background-color: #222;
  opacity: 0.4;
}
.about__skill {
  color: #fff;
  margin: 10px 0;
}
.skill__heading {
}
.skill__career {
  display: flex;
  width: 100%;
  padding: 16px 0;
  margin: 32px 0 16px 0;
  background-color: #fff;
  flex-grow: 1;
  justify-content: space-around;
  opacity: 0.8;
}
.career--box {
  display: inline-block;
  color: #000;
  text-align: center;
  margin: 16px 0px;
  font-size: 15px;
  font-weight: 100;
}

.career--box > span {
  font-size: 24px;
}
.button {
  width: 200px;
  height: 41px;
  margin: 32px 0px;
  padding: 12px 24px;
  background-color: #fff;
  color: black;
  font-size: 15px;
}
.button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.about__price {
  display: flex;
  justify-content: space-between;
}
.price--half {
  display: inline-flex;
  width: 48%;
}
.list--style {
  width: 100%;
  list-style: none;
  background-color: #fff;
  padding: 0;
  opacity: 0.6;
}
.list--style:hover {
  opacity: 1;
}
.list--style > h1 {
  background-color: #222;
  padding: 16px 16px;
  text-align: center;
}

.list--items {
  border-top: 1px solid #ddd !important;
  text-align: center;
  color: #000;
  padding: 16px;
}
.list--items > span {
  opacity: 0.6;
}
.button--signup {
  width: 100%;
  margin: 0;
  padding: 24px 16px;
  text-align: center;
}
.button--style {
  width: 75px;
  height: 35px;
  padding: 12px 24px;
  background-color: rgb(221, 214, 214);
  color: #fff;
  text-decoration: none;
}
.button--style:hover {
  background-color: #000;
  color: rgb(240, 235, 235);
}
.about__reputation {
}
.reput__header {
  padding: 24px 0;
  margin: 10px 0;
  font-weight: lighter;
}
.reput__main {
  display: flex;
  flex-direction: column;
}
.reput__main__name {
  display: inline-flex;
}
.reput__main__name > img {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50px;
}
.reput__main__name > div {
  display: inline-flex;
  margin: 30px 0;
  opacity: 0.8;
  justify-content: flex-start;
  margin: 0 15px;
  flex-wrap: wrap;
  flex-direction: column;
}
.reput__main__name > div > p {
  display: block;
  margin: 15px 0;
}
.reput__main__name > div > p > span {
  margin-right: 15px;
  font-size: 18px;
}

.content__photo {
  display: inline-flex;
  justify-content: space-between;
}
.photo__half {
  display: inline-flex;
  flex-direction: column;
  width: 49%;
}
.photo__half > img {
  width: 100%;
  margin-bottom: 12px;
}
.content__contact {
  color: #fff;
}
.contact__header {
  font-size: 30px;
  font-weight: 100;
  margin: 16px 0;
  letter-spacing: 2px;
}
.contact__wall {
  width: 200px;
  border-bottom: 1px solid #ddd;
  margin: 16px 0;
}
.contact__location {
  display: flex;
  flex-direction: column;
}
.contact__location > div > i {
  margin: 10px 20px;
  font-size: 30px;
}
.contact__location > div > span {
  opacity: 0.6;
  letter-spacing: 2px;
}
.contact__box {
  margin: 32px 0;
}
.contact__box > input {
  width: 980px;
  height: 56px;
  display: block;
  margin: 15px 0;
  padding: 5px;
}
.contact__box > button {
  padding: 12px 24px;
  cursor: pointer;
}
.contact__box > button:hover {
  opacity: 0.9;
}
#footer {
  background-color: #000;
}
.footer__main {
  margin: 0 378px;
  color: #fff;
  padding: 64px 0;
  opacity: 0.8;
  font-size: 30px;
}
.footer__main > i {
  padding: 0 4px;
  cursor: pointer;
}
.footer__main > i:hover {
  opacity: 0.5;
}
.footer__main > p {
  margin: 15px 0;
  font-size: 15px;
}
.footer__main > p > a {
  color: #fff;
}
/* mobie */

#header--small{
  display: none;
}
@media screen and (max-width:64em) {
  .display {
    display: none;
  }
  #header--small{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #000;
    color:#fff;

  }
  #header--small>a{
    padding:8px 16px;
    opacity: 0.8;
    text-decoration: none;
    color:#fff;
  }


  #content{
    margin:0;
  }
  .img__name--small{
    font-size:64px;
    margin:10px 0;
  }
  .img--small{
    width:100%;
    height: auto;
    margin-left: 10px;
  }
  .content--magin--small{
    margin:0 10px;
  }
  .content--half--small{
    flex-direction:column;
  }
  .price--small{
    width: 100%;
    
    margin-bottom: 10px;
  }
  .photo--small{
    width:100%;
  }
  .contact__box>input{
    width:100%;
  }

}
